#about-page {
  .profile-image {
    padding: 0 20px 20px 0;
    float: left;

    img {
      width: 250px;
    }
  }
}

@media screen and (max-width: 449px) {
  #about-page {
    .profile-image {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      float: none;
      padding-right: 0;
    }
  }
}

.small-device,
.extra-small-device {
  #about-page {
    .profile-image {
      img {
        width: 200px;
      }
    }
  }
}
