@import 'normalize-scss';
@import './constants/variables';
@include normalize();

* {
  font-family: $main-font-family;
}

.content-container,
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-container {
  padding: 0 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

// Fonts
p,
a {
  font-size: 18px;
}

a,
a:visited {
  color: $link-color;
}

.extra-small-device,
.small-device {
  .page-container {
    padding: 0 15px;
    margin-top: 20px;
  }
}

.no-touchevents {
  a:hover {
    color: $link-color-lighten;
  }
}

.middle {
  text-align: center;
  display: block;
}
