@import '../../constants/variables';

.grid-loader-container {
  width: 60%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.react-finite-loader {
  &.grid {
    // row
    > div {
      .segment {
        .fill {
          background-color: $primary-color-light-3;
        }

        &.loaded {
          .fill {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
